<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (c) 2024, The Linux Foundation. All rights reserved.

    Dummy Setup Wizard for msm8909w
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qcom.setupwizard">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS" />

    <application
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <activity
            android:name=".SetupWizardActivity"
            android:label="@string/app_name"
            android:excludeFromRecents="true">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.SETUP_WIZARD" />
            </intent-filter>
        </activity>

    </application>
</manifest>
