allow kernel block_device:blk_file rw_file_perms;
allow kernel block_device:dir rw_dir_perms;

userdebug_or_eng(`
  allow kernel self:capability { dac_read_search dac_override };
  allow kernel self:socket create_socket_perms;
')

# Access firmware_file
r_dir_file(kernel, firmware_file)
allow kernel persist_file:file r_file_perms;
allow kernel persist_file:dir r_dir_perms;
allow kernel wifi_data_file:file r_file_perms;
allow kernel wifi_data_file:dir r_dir_perms;
